In [3]:
import pandas as pd

# Import données

## Import des données de test simplifiées de kaggle

In [4]:
train_1M=pd.read_csv('../data/train_1M.csv')

In [9]:
df_sel=train_1M.sample(n=10000,axis=0)
df_sel

,Unnamed: 0,row_id,timestamp,user_id,content_id,content_type_id,task_container_id,user_answer,answered_correctly,prior_question_elapsed_time,prior_question_had_explanation
2312,44891801,44891801,441067,949877178,2594,0,7,1,0,13666.0,False
353496,98611994,98611994,232461179,2092192214,4064,0,135,2,0,14000.0,True
116648,39623764,39623764,33666934138,842445965,447,0,1239,0,1,16000.0,True
295099,61189014,61189014,734399,1298178734,7216,0,15,3,1,20250.0,False
662191,79385124,79385124,945338,1690329213,7217,0,15,1,0,17750.0,False
...,...,...,...,...,...,...,...,...,...,...,...
813641,75635107,75635107,384051209,1609800055,7149,0,261,0,1,67400.0,True
291377,53502534,53502534,3563625583,1134580747,1094,0,535,3,1,19000.0,True
743814,90548344,90548344,2350255025,1922509726,1214,0,191,0,1,18000.0,True
481995,42801774,42801774,954827210,907434095,6601,0,903,2,1,7750.0,True
636865,70473016,70473016,13175492747,1499542499,1030,0,203,1,1,17000.0,True

In [5]:
example_test=pd.read_csv('../data/example_test.csv')
example_sample_submission=pd.read_csv('../data/example_sample_submission.csv')

In [6]:
example_test_df_0=example_test.iloc[:18]
example_test_df_1=example_test.iloc[18:45]
example_test_df_2=example_test.iloc[45:71]
example_test_df_3=example_test.iloc[71:]
example_test_dfs=[example_test_df_0,example_test_df_1,example_test_df_2,example_test_df_3]

## Exploration submission examples

In [284]:
example_sample_submission.head(10)

   row_id  answered_correctly  group_num
0       0                 0.5          0
1       1                 0.5          0
2       2                 0.5          0
3       3                 0.5          0
4       4                 0.5          0
5       5                 0.5          0
6       6                 0.5          0
7       7                 0.5          0
8       8                 0.5          0
9       9                 0.5          0

In [285]:
example_test.head(10)

,row_id,group_num,timestamp,user_id,content_id,content_type_id,task_container_id,prior_question_elapsed_time,prior_question_had_explanation,prior_group_answers_correct,prior_group_responses
0,0,0,0,275030867,5729,0,0,NaN,NaN,[],[]
1,1,0,13309898705,554169193,12010,0,4427,19000.0,True,NaN,NaN
2,2,0,4213672059,1720860329,457,0,240,17000.0,True,NaN,NaN
3,3,0,62798072960,288641214,13262,0,266,23000.0,True,NaN,NaN
4,4,0,10585422061,1728340777,6119,0,162,72400.0,True,NaN,NaN
5,5,0,18020362258,1364159702,12023,0,4424,18000.0,True,NaN,NaN
6,6,0,2325432079,1521618396,574,0,1367,18000.0,True,NaN,NaN
7,7,0,39456940781,1317245193,12043,0,5314,17000.0,True,NaN,NaN
8,8,0,3460555189,1700555100,7910,0,532,21000.0,True,NaN,NaN
9,9,0,2214770464,998511398,7908,0,393,21000.0,True,NaN,NaN

In [45]:
example_test.query('user_id==275030867')

,row_id,group_num,timestamp,user_id,content_id,content_type_id,task_container_id,prior_question_elapsed_time,prior_question_had_explanation,prior_group_answers_correct,prior_group_responses
0,0,0,0,275030867,5729,0,0,NaN,NaN,[],[]
18,18,1,23609,275030867,5502,0,1,34000.0,False,"[0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, ...","[0, 0, 1, 1, 0, 1, 3, 3, 1, 1, 0, 3, 1, 2, 2, ..."
45,46,2,42512,275030867,6133,0,2,17000.0,False,"[1, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1, ...","[1, 2, 2, 2, 1, 0, 1, 2, 1, 1, 3, 2, 0, 0, 3, ..."
71,74,3,75311,275030867,8308,0,3,15000.0,False,"[1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, ...","[0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 1, 0, 3, 0, 0, ..."

In [46]:
example_test.query('user_id==275030867').prior_group_answers_correct

0                                                    []
18    [0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, ...
45    [1, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1, ...
71    [1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, ...
Name: prior_group_answers_correct, dtype: object

In [15]:
len(set(example_test.user_id.to_list()))

42

In [17]:
example_test.user_id.unique()

array([ 275030867,  554169193, 1720860329,  288641214, 1728340777,
       1364159702, 1521618396, 1317245193, 1700555100,  998511398,
       1422853669, 1096784725,  385471210, 1202386221, 2018567473,
       1233875513,  891955351, 1981166446, 1637273633, 2030979309,
        319060572,   98059812,  674533997,  555691277,  775113212,
       1219481379, 1148874033, 1281335472, 2002570769,  706626847,
       1357500007, 1599808246, 1305988022, 1310228392, 2093197291,
       1468996389, 1838324752, 2103436554,  311890082, 1817433235,
       1900527744,    7792299])

## Import des stats issues du train

In [7]:
simple_user_stats=pd.read_csv('../data/simple_user_stats.csv',
                              dtype={'user_id': 'int64',
                                     'answered_correctly': 'int8',
                                     'correctly_answered_cumcount':'int32',
                                     'uncorrectly_answered_cumcount': 'int32',
                                     'correctly_answered_cumcount': 'int32',
                                     'user_avg_score_cum': 'float32',
                                     'qstats_answered_correctly': 'float32',
                                     },
                             ).set_index('user_id')
simple_qstats=pd.read_csv('../data/simple_qstats.csv',
                          dtype={'content_id': 'int32',
                                 'qstats_count':'int32',
                                 'qstats_answered_correctly': 'float32',
                                 'last_answer_is_correct' : 'int8'
                                },
                         )

answered_correctly_column_iloc_in_sequences=simple_user_stats.columns.get_indexer(['answered_correctly'])[0]

user_ids=set(simple_user_stats.index.values)
data_sequences={user:simple_user_stats.loc[user:user] for user in user_ids}
ustats_sequence_size=len(data_sequences[1917429896])

In [10]:
answered_correctly_column_iloc_in_sequences

1

In [11]:
simple_user_stats.query('user_id==115')

,correctly_answered_cumcount,answered_correctly,uncorrectly_answered_cumcount,user_avg_score_cum,qstats_answered_correctly
user_id,,,,,
115,31,1,14,0.688889,0.499

In [447]:
simple_qstats

,content_id,qstats_count,qstats_answered_correctly,last_answer_is_correct
0,0,6903,0.907721,1
1,1,7398,0.890646,1
2,2,44905,0.554281,1
3,3,22973,0.779437,0
4,4,31736,0.613215,1
...,...,...,...,...
13518,13518,868,0.786866,1
13519,13519,924,0.571429,1
13520,13520,861,0.672474,0
13521,13521,870,0.808046,1
13522,13522,860,0.913953,1

In [12]:
simple_qstats.dtypes

content_id                     int32
qstats_count                   int32
qstats_answered_correctly    float32
last_answer_is_correct          int8
dtype: object

In [13]:
user_ids=set(simple_user_stats.index.values)
data_sequences={user:simple_user_stats.loc[user:user] for user in user_ids}
ustats_sequence_size=len(data_sequences[1917429896])

In [387]:
data_sequences[115]

,correctly_answered_cumcount,answered_correctly,uncorrectly_answered_cumcount,user_avg_score_cum,qstats_answered_correctly
user_id,,,,,
115,31,1,14,0.688889,0.499

## Import modèle

In [14]:
from sklearn.linear_model import LogisticRegression
import pickle
my_pipeline = pickle.load(open("B0model.pkl","rb"))  ## wb= write bites : le b est important

model_features=['qstats_answered_correctly','user_avg_score_cum']
model_sequence_size=1

# Fonctions utilisées dans la boucle de soumission

## MàJ stats user

In [15]:
def user_sequences_update(row, data_qstats, data_sequences, sequence_size=1):
    '''Crée ou met à jour la séquence d'un utilisateur, stockée dans un df'''
    user=row['user_id']
    content=row['content_id']
    if row['content_type_id']==1:# TODO : coder le comportement de cette fonction quand elle arrive sur une lecture
        pass
    
    else:
        user_data=data_sequences.get(user)
            
        if type(user_data)==pd.DataFrame:
            new_correctly_answered_cumcount = user_data.iloc[-1].correctly_answered_cumcount + user_data.iloc[-1].answered_correctly
            new_uncorrectly_answered_cumcount=user_data.iloc[-1].uncorrectly_answered_cumcount + 1- user_data.iloc[-1].answered_correctly
            new_user_avg_score_cum=new_correctly_answered_cumcount/(new_correctly_answered_cumcount + new_uncorrectly_answered_cumcount)
        
        else:
            new_correctly_answered_cumcount=0
            new_uncorrectly_answered_cumcount=0
            new_user_avg_score_cum=0.499 
            
        new_line= pd.DataFrame({'user_id':user,
                             'answered_correctly':row['answered_correctly'],
                             'correctly_answered_cumcount':new_correctly_answered_cumcount,
                             'uncorrectly_answered_cumcount':new_uncorrectly_answered_cumcount,
                             'user_avg_score_cum':new_user_avg_score_cum,
                             'qstats_answered_correctly':data_qstats.loc[content].qstats_answered_correctly,
                                           },
                              index=[-1])
        user_data=pd.concat([user_data,new_line],axis=0,ignore_index=True)

        data_sequences[user] = user_data.iloc[-sequence_size:]
    return data_sequences

## MàJ stats questions

In [16]:
def qstats_update(row, data_qstats):
    question=row['content_id']
    
    if question in data_qstats.index:
        question_stats=data_qstats.loc[question]
        
        new_question_count=question_stats.qstats_count+1
        new_question_answered_correctly_count = question_stats.qstats_count * question_stats.qstats_answered_correctly + question_stats.last_answer_is_correct
        new_question_answered_correctly_mean = new_question_answered_correctly_count / new_question_count
        
    else:
        new_question_count=0
        new_question_answered_correctly_mean=0
        
    data_qstats.loc[question]=pd.Series({'content_id':question,
                               'qstats_answered_correctly':new_question_answered_correctly_mean,
                               'qstats_count':new_question_count,
                               'last_answer_is_correct':int(row['answered_correctly']),
                                  })
    return data_qstats

## Itération sur le df

In [17]:
def preprocess_data(data_batch,
                    data_qstats,
                    data_sequences={},
                    sequence_size=1,
                    update_qstats=True,
                    return_data=False):
    '''Pour un batch de nouvelles données, met à jour la table des dernières sequences pour chaque individu
    et si option activée, met également à jour la table des qstats
    '''
    for index, row in data_batch.iterrows():
        #print(row.row_id)
        user=row['user_id']
        content=row['content_id']
        if row['content_type_id']==1:
            pass # TODO : code the features engineering for lectures. Pour le moment on skip
        
        else:
            
# Si l'option updata_sqtats est activée, on met à jour la table data_qstats
            if update_qstats == True:
                
                data_qstats=qstats_update(row, data_qstats)
            
# Si on vient de remplir q_stats pour la question OU si la question est déjà connue, 
# on peut mettre à ajouter la ligne courante aux sequences
            if update_qstats == True or content in data_qstats.content_id.values:
        
                data_sequences= user_sequences_update(row, data_qstats, data_sequences, sequence_size)
                
# Si la question est nouvelle ET on a pas mis l'option update_qstats, on lève une erreur car il manque la donnée qstats
            else:
                print(f'ERROR : unknown question n°{content}. Set update_qstats == True to create lines for new questions or check the completeness of data_qstats')

#TODO : retourner le df complet avec les features si option activée
    if return_data==False:
        return data_qstats, data_sequences

## Autres

In [19]:
def filter_dict(dictionary, keys):
    """Filters a dict by only including certain keys."""
    key_set = set(keys) & set(dictionary.keys())
    return {key: dictionary[key] for key in key_set}

# Boucle de soumission

## Première boucle avec seulement MàJ des stats users et questions lors de la réception du groupe suivant

### Boucle

In [353]:
data_qstats = simple_qstats.copy()
data_ustats = data_sequences.copy()

In [325]:
data_qstats.dtypes

content_id                     int32
qstats_count                   int32
qstats_answered_correctly    float32
last_answer_is_correct          int8
dtype: object

In [371]:
data_qstats = simple_qstats.copy()
data_ustats = data_sequences.copy()

import ast
i=0
for test_df in example_test_dfs:
    if i>0:
        #récupérer les données situées dans la première ligne du groupe, colonne prior_group_answers_correct
        prior_group_answers_correct_list = ast.literal_eval(test_df.iloc[0].prior_group_answers_correct)
        print('liste récupérée : ',prior_group_answers_correct_list)
        prior_group_df.loc[prior_group_df.content_type_id==0,'answered_correctly']=prior_group_answers_correct_list
        
        #mise à jour des qstats et user_stats
        data_qstats, data_ustats = preprocess_data(prior_group_df,
                    data_qstats,
                    data_ustats,
                    sequence_size=1,
                    update_qstats=True,
                    return_data=False)
        
    #TODO : itérer sur chaque ligne pour 
        #preprocess_data sur une seule ligne
        #predict sur cette ligne
    
        
    i+=1    
    prior_group_df= test_df.copy()
    
data_ustats[115].dtypes

liste récupérée :  [0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1]
liste récupérée :  [1, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1]
liste récupérée :  [1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0]

correctly_answered_cumcount        int32
answered_correctly                  int8
uncorrectly_answered_cumcount      int32
user_avg_score_cum               float32
qstats_answered_correctly        float32
dtype: object

### Vérification comportement boucle

In [253]:
data_sequences[1521618396]

,correctly_answered_cumcount,answered_correctly,uncorrectly_answered_cumcount,user_avg_score_cum,qstats_answered_correctly
user_id,,,,,
1521618396,1133,1,878,0.563401,0.499

In [248]:
example_test.loc[example_test.user_id==1521618396]

,row_id,group_num,timestamp,user_id,content_id,content_type_id,task_container_id,prior_question_elapsed_time,prior_question_had_explanation,prior_group_answers_correct,prior_group_responses
6,6,0,2325432079,1521618396,574,0,1367,18000.0,True,NaN,NaN
46,47,2,2325462978,1521618396,786,0,1368,19000.0,True,NaN,NaN

In [252]:
data_ustats[1521618396]

,correctly_answered_cumcount,answered_correctly,uncorrectly_answered_cumcount,user_avg_score_cum,qstats_answered_correctly,user_id
1,1134.0,1,879.0,0.563338,0.673355,1.521618e+09

## Boucle avec predict

In [456]:
def filter_dict(dictionary, keys):
    """Filters a dict by only including certain keys."""
    key_set = set(keys) & set(dictionary.keys())
    return {key: dictionary[key] for key in key_set}


data_qstats = simple_qstats.copy()
data_ustats = data_sequences.copy()

output=None
import ast
i=0
for test_df in example_test_dfs:
    test_df_loop=test_df.copy()
    if i>=1:
        #récupérer les données situées dans la première ligne du groupe, colonne prior_group_answers_correct
        prior_group_answers_correct_list = ast.literal_eval(test_df_loop.iloc[0].prior_group_answers_correct)
        print('liste récupérée : ',prior_group_answers_correct_list)
        prior_group_df.loc[prior_group_df.content_type_id==0,'answered_correctly']=prior_group_answers_correct_list
        
        #mise à jour des qstats et user_stats
        data_qstats, data_ustats = preprocess_data(prior_group_df,
                    data_qstats,
                    data_ustats,
                    sequence_size=ustats_sequence_size,
                    update_qstats=True,
                    return_data=False)
    
    test_df_loop['answered_correctly']=0.501
    
    #sélection des users utils dans la base d'antécédents
    data_sequences_for_users_in_this_group=filter_dict(data_ustats,test_df_loop.user_id)
    
    #boucle sur chaque ligne nouvelle
    for index, row in test_df_loop.iterrows():
        user=row['user_id']
        data_sequences_for_users_in_this_group= user_sequences_update(row,
                                                                      data_qstats,
                                                                      data_sequences_for_users_in_this_group,
                                                                      sequence_size=ustats_sequence_size)
        
        #Attention, la ligne suivante est à recoder pour passer au RNN
        proba_prediction=my_pipeline.predict_proba(data_sequences_for_users_in_this_group[user][model_features])[0,1]
        prediction = 0 if proba_prediction<0.5 else 1
        
        data_sequences_for_users_in_this_group[user].iloc[-1,answered_correctly_column_iloc_in_sequences]=prediction
        test_df_loop.loc[index,'answered_correctly']=proba_prediction
        
    output=pd.concat([output,test_df_loop],axis=0,ignore_index=True)
        
        
        
    #TODO : itérer sur chaque ligne
        #preprocess_data sur une seule ligne
        #predict sur cette ligne
    
        
    i+=1    
    prior_group_df= test_df_loop

test_df_loop
#output

liste récupérée :  [0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1]
liste récupérée :  [1, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1]
liste récupérée :  [1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0]

,row_id,group_num,timestamp,user_id,content_id,content_type_id,task_container_id,prior_question_elapsed_time,prior_question_had_explanation,prior_group_answers_correct,prior_group_responses,answered_correctly
71,74,3,75311,275030867,8308,0,3,15000.0,False,"[1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, ...","[0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 1, 0, 3, 0, 0, ...",0.664431
72,75,3,31220886463,1305988022,396,0,4163,19000.0,True,NaN,NaN,0.758071
73,76,3,48613916248,1310228392,11869,0,1458,26333.0,True,NaN,NaN,0.517009
74,77,3,48613916248,1310228392,11871,0,1458,26333.0,True,NaN,NaN,0.903819
75,78,3,48613916248,1310228392,11870,0,1458,26333.0,True,NaN,NaN,0.568809
76,79,3,48613916248,1310228392,11872,0,1458,26333.0,True,NaN,NaN,0.417876
77,80,3,48613916248,1310228392,11868,0,1458,26333.0,True,NaN,NaN,0.879484
78,81,3,4693192735,1637273633,5935,0,3149,19000.0,True,NaN,NaN,0.687578
79,82,3,1254131274,674533997,6000,0,1046,10000.0,True,NaN,NaN,0.440503
80,84,3,69704234415,2093197291,12611,0,5448,28750.0,True,NaN,NaN,0.816166
81,86,3,32722404604,1202386221,438,0,139,17000.0,True,NaN,NaN,0.673716
82,87,3,2379177011,1468996389,2470,0,230,26000.0,True,NaN,NaN,0.742818
83,88,3,2379177011,1468996389,2471,0,230,26000.0,True,NaN,NaN,0.916652
84,89,3,2379177011,1468996389,2472,0,230,26000.0,True,NaN,NaN,0.894057
85,90,3,44526385962,555691277,573,0,54,18000.0,True,NaN,NaN,0.660695
86,91,3,60813397921,1838324752,10435,0,299,26000.0,True,NaN,NaN,0.847990
87,92,3,23890386630,2103436554,1722,0,1033,23333.0,True,NaN,NaN,0.722072
88,93,3,23890386630,2103436554,1721,0,1033,23333.0,True,NaN,NaN,0.833620
89,94,3,23890386630,2103436554,1723,0,1033,23333.0,True,NaN,NaN,0.809105
90,95,3,27465573535,311890082,2029,0,212,26000.0,True,NaN,NaN,0.800963
91,96,3,27465573535,311890082,2028,0,212,26000.0,True,NaN,NaN,0.348068
92,97,3,27465573535,311890082,2027,0,212,26000.0,True,NaN,NaN,0.558581
93,98,3,1367936449,1817433235,12135,0,392,7000.0,True,NaN,NaN,0.869412
94,99,3,2214847937,998511398,10646,0,395,26000.0,True,NaN,NaN,0.750122
95,100,3,516880082,1422853669,1098,0,87,22000.0,True,NaN,NaN,0.758989
96,101,3,13309987002,554169193,1043,0,4429,18000.0,True,NaN,NaN,0.711756
97,102,3,39457020766,1317245193,12145,0,5317,17000.0,True,NaN,NaN,0.774531
98,103,3,13167339284,1900527744,3005,0,1179,24667.0,True,NaN,NaN,0.720807
99,104,3,13167339284,1900527744,3004,0,1179,24667.0,True,NaN,NaN,0.403320
100,105,3,13167339284,1900527744,3003,0,1179,24667.0,True,NaN,NaN,0.758922
101,106,3,64497673060,7792299,7908,0,676,19000.0,True,NaN,NaN,0.644012
102,107,3,62798166743,288641214,9077,0,269,25000.0,True,NaN,NaN,0.684952
103,108,3,2059176357,2018567473,12119,0,591,20000.0,True,NaN,NaN,0.919635

In [336]:
data_qstats.dtypes

content_id                   object
qstats_count                 object
qstats_answered_correctly    object
last_answer_is_correct       object
dtype: object

In [294]:
proba_prediction=my_pipeline.predict_proba(data_sequences[115][model_features])[0,1]
prediction = 0 if proba_prediction<0.5 else 1
prediction

1

In [266]:
def filer_dict(dictionary, keys):
    """Filters a dict by only including certain keys."""
    key_set = set(keys) & set(dictionary.keys())
    return {key: dictionary[key] for key in key_set}

In [270]:
dico1={'a':1,'b':2,'c':3}

In [275]:
seri=pd.DataFrame({'col1':[1,2,3],'col2':['a','c','a']}).col2
seri

0    a
1    c
2    a
Name: col2, dtype: object

In [276]:
liss=['a','c','a']
dico2=include_keys(dico1,seri)

In [277]:
dico2

{'a': 1, 'c': 3}

In [273]:
dico2['c']=99

In [265]:
dico1

{'a': 1, 'b': 2, 'c': 3}

# Debug kaggle submission error

In [28]:
data_qstats = simple_qstats.copy()
data_ustats = data_sequences.copy()

test_df_loop=df_sel.copy()
test_df_loop['answered_correctly']=0.501

try:
    #sélection des users utils dans la base d'antécédents
    data_sequences_for_users_in_this_group=filter_dict(data_ustats,test_df_loop.user_id)


    #boucle sur chaque ligne nouvelle
    for index, row in test_df_loop.iterrows():
        user=row['user_id']
        data_sequences_for_users_in_this_group= user_sequences_update(row,
                                                                    data_qstats,
                                                                    data_sequences_for_users_in_this_group,
                                                                    sequence_size=ustats_sequence_size)

        #Attention, la ligne suivante est à recoder pour passer au RNN
        proba_prediction=my_pipeline.predict_proba(data_sequences_for_users_in_this_group[user][model_features])[0,1]
        prediction = 0 if proba_prediction<0.5 else 1

        data_sequences_for_users_in_this_group[user].iloc[-1,answered_correctly_column_iloc_in_sequences]=prediction

        test_df_loop.loc[test_df_loop.row_id==row['row_id'],'answered_correctly']=proba_prediction
except:
    pass
    
    #test_df_loop.loc[index,'answered_correctly']=proba_prediction

/Users/thomasmathieu/.pyenv/versions/3.7.7/envs/lewagon/lib/python3.7/site-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
/Users/thomasmathieu/.pyenv/versions/3.7.7/envs/lewagon/lib/python3.7/site-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
/Users/thomasmathieu/.pyenv/versions/3.7.7/envs/lewagon/lib/python3.7/site-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
/Users/thomasmathieu/.pyenv/versions/3.7.7/envs/lewagon/lib/python3.7/site-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
/Users/thomasmathieu/.pyenv/versions/3.7.7/envs/lewagon/lib/python3.7/site-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
/Users/thomasmathieu/.pyenv/versions/3.7.7/envs/lewagon/lib/python3.7/site-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
/Users/thomasmathieu/.pyenv/versions/3.7.7/envs/lewagon/lib/python3.7/site-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
/Users/thomasmathieu/.pyenv/versions/3.7.7/envs/lewagon/lib/python3.7/site-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
/Users/thomasmathieu/.pyenv/versions/3.7.7/envs/lewagon/lib/python3.7/site-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
/Users/thomasmathieu/.pyenv/versions/3.7.7/envs/lewagon/lib/python3.7/site-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
/Users/thomasmathieu/.pyenv/versions/3.7.7/envs/lewagon/lib/python3.7/site-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
/Users/thomasmathieu/.pyenv/versions/3.7.7/envs/lewagon/lib/python3.7/site-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
/Users/thomasmathieu/.pyenv/versions/3.7.7/envs/lewagon/lib/python3.7/site-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
/Users/thomasmathieu/.pyenv/versions/3.7.7/envs/lewagon/lib/python3.7/site-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
/Users/thomasmathieu/.pyenv/versions/3.7.7/envs/lewagon/lib/python3.7/site-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
/Users/thomasmathieu/.pyenv/versions/3.7.7/envs/lewagon/lib/python3.7/site-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
/Users/thomasmathieu/.pyenv/versions/3.7.7/envs/lewagon/lib/python3.7/site-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
/Users/thomasmathieu/.pyenv/versions/3.7.7/envs/lewagon/lib/python3.7/site-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
/Users/thomasmathieu/.pyenv/versions/3.7.7/envs/lewagon/lib/python3.7/site-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
/Users/thomasmathieu/.pyenv/versions/3.7.7/envs/lewagon/lib/python3.7/site-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

/Users/thomasmathieu/.pyenv/versions/3.7.7/envs/lewagon/lib/python3.7/site-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
/Users/thomasmathieu/.pyenv/versions/3.7.7/envs/lewagon/lib/python3.7/site-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
/Users/thomasmathieu/.pyenv/versions/3.7.7/envs/lewagon/lib/python3.7/site-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
/Users/thomasmathieu/.pyenv/versions/3.7.7/envs/lewagon/lib/python3.7/site-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
/Users/thomasmathieu/.pyenv/versions/3.7.7/envs/lewagon/lib/python3.7/site-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
/Users/thomasmathieu/.pyenv/versions/3.7.7/envs/lewagon/lib/python3.7/site-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
/Users/thomasmathieu/.pyenv/versions/3.7.7/envs/lewagon/lib/python3.7/site-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

In [27]:
test_df_loop.answered_correctly.describe()

count    10000.000000
mean         0.663600
std          0.187644
min          0.045519
25%          0.550327
50%          0.707396
75%          0.811448
max          0.951309
Name: answered_correctly, dtype: float64

# Pipelining test

In [6]:
from sklearn.base import TransformerMixin
from sklearn.base import BaseEstimator

# Create a class
class Compute_user_avg_score_cum(TransformerMixin, BaseEstimator): 
# TransformerMixin generates a fit_transform method from fit and transform
# BaseEstimator generates get_params and set_params methods
    
    # Create parameters "column_1" and "column_2" to choose which columns of dataframe to multiply
    def __init__(self):
        return self
    
    def fit(self, X, y=None):
        return self
    
    def transform(self, X, y=None):
        df=X[['user_id','answered_correctly''content_type_id']]
        
        df_qonly=df.query('content_type_id==0').copy()
        df_qonly['user_avg_score_cum']=\
            (df_qonly.groupby('user_id').cumsum()['answered_correctly']\
             -df_qonly['answered_correctly'])\
                /(train_1M_qonly.groupby('user_id').cumcount())
        df_qonly['user_avg_score_cum'].replace([np.inf,np.nan],0,inplace=True)
        df['user_avg_score_cum']=df_qonly['user_avg_score_cum']
        return df[['user_avg_score_cum']]

In [8]:
from sklearn.base import TransformerMixin
from sklearn.base import BaseEstimator

# Create a class
class Compute_question_stats(TransformerMixin, BaseEstimator): 
# TransformerMixin generates a fit_transform method from fit and transform
# BaseEstimator generates get_params and set_params methods
    
    # Create parameters "column_1" and "column_2" to choose which columns of dataframe to multiply
    def __init__(self, content_id, answered_correctly, content_type_id):
        self.content_id = content_id
        self.answered_correctly = answered_correctly
        self.content_type_id = content_type_id
    
    def fit(self, X, y=None):
        return self
    
    def transform(self, X, y=None):
        df=pd.DataFrame({'content_id':content_id,'answered_correctly':answered_correctly,'content_type_id':content_type_id})
        
        questions_stats=df.query('content_type_id==0').groupby('content_id').agg({'answered_correctly': 'mean'})

        df_qonly=df.query('content_type_id==0').merge(questions_stats,how='left',on='content_id')
        df['qstats_answered_correctly']=df_qonly['answered_correctly']
        return df[['qstats_answered_correctly']]

In [9]:
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

# Preprocessor
preprocessor = ColumnTransformer([
    ('Compute_user_avg_score_cum', Compute_user_avg_score_cum(user_id='user_id',
                                                              answered_correctly='answered_correctly',
                                                              content_type_id='content_type_id'),
                                                     ['user_id','answered_correctly','content_type_id']),
    'Compute_question_stats', Compute_question_stats(content_id='content_id',
                                                              answered_correctly='answered_correctly',
                                                              content_type_id='content_type_id'),
                                                     ['content_id','answered_correctly','content_type_id']],
    remainder='drop') 

# Combine preprocessor and model in pipeline
final_pipe = Pipeline([
    ('preprocessing', preprocessor),
    ('logit', LogisticRegression(solver='lbfgs', max_iter=1000))])

In [13]:
preprocessor.fit_transform(train_1M)

TypeError: zip argument #3 must support iteration

In [ ]:

# Train pipeline
final_pipe_trained = final_pipe.fit(X_train,y_train)

# Nouvel essai simplifié

## Import données

In [18]:
import pandas as pd
example_test=pd.read_csv('../data/example_test.csv')
example_sample_submission=pd.read_csv('../data/example_sample_submission.csv')
simple_user_stats=pd.read_csv('../data/simple_user_stats.csv')
simple_qstats=pd.read_csv('../data/simple_qstats.csv')

In [31]:
example_test

,row_id,group_num,timestamp,user_id,content_id,content_type_id,task_container_id,prior_question_elapsed_time,prior_question_had_explanation,prior_group_answers_correct,prior_group_responses
0,0,0,0,275030867,5729,0,0,NaN,NaN,[],[]
1,1,0,13309898705,554169193,12010,0,4427,19000.0,True,NaN,NaN
2,2,0,4213672059,1720860329,457,0,240,17000.0,True,NaN,NaN
3,3,0,62798072960,288641214,13262,0,266,23000.0,True,NaN,NaN
4,4,0,10585422061,1728340777,6119,0,162,72400.0,True,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
99,104,3,13167339284,1900527744,3004,0,1179,24667.0,True,NaN,NaN
100,105,3,13167339284,1900527744,3003,0,1179,24667.0,True,NaN,NaN
101,106,3,64497673060,7792299,7908,0,676,19000.0,True,NaN,NaN
102,107,3,62798166743,288641214,9077,0,269,25000.0,True,NaN,NaN
103,108,3,2059176357,2018567473,12119,0,591,20000.0,True,NaN,NaN

## Import modèle

In [29]:
import pickle
my_pipeline = pickle.load(open("B0model.pkl","rb"))  ## wb= write bites : le b est important

In [37]:
simple_user_stats.query('user_id==275030867')

Empty DataFrame
Columns: [user_id, correctly_answered_cumcount, answered_correctly, uncorrectly_answered_cumcount, user_avg_score_cum, qstats_answered_correctly]
Index: []

In [7]:
simple_qstats

,content_id,qstats_count,qstats_answered_correctly,last_answer_is_correct
0,0,6903,0.907721,1
1,1,7398,0.890646,1
2,2,44905,0.554281,1
3,3,22973,0.779437,0
4,4,31736,0.613215,1
...,...,...,...,...
13518,13518,868,0.786866,1
13519,13519,924,0.571429,1
13520,13520,861,0.672474,0
13521,13521,870,0.808046,1
13522,13522,860,0.913953,1

In [26]:
example_test2=example_test.query('content_type_id==0')\
            .merge(simple_qstats,on='content_id',how='left')\
            .merge(simple_user_stats,on='user_id',how='left')
example_test_simple=example_test2[['qstats_answered_correctly_x','user_avg_score_cum']].iloc[:2]
example_test_simple

   qstats_answered_correctly_x  user_avg_score_cum
0                     0.559251                 NaN
1                     0.830091            0.709119

In [39]:
from sklearn.impute import SimpleImputer
si=SimpleImputer(strategy='constant',fill_value=0)
example_test_simple_imp=si.fit_transform(example_test_simple)
example_test_simple_imp

array([[0.55925076, 0.        ],
       [0.83009079, 0.70911889]])

In [42]:
my_pipeline.predict_proba(example_test_simple_imp)[:,1]

array([0.1830614 , 0.85637579])

In [43]:
my_pipeline.predict(example_test_simple_imp)

array([0, 1])

# Metric

In [49]:
from sklearn.metrics import roc_auc_score

In [64]:
train_1M['dummy04']=0.4
train_1M

,Unnamed: 0,row_id,timestamp,user_id,content_id,content_type_id,task_container_id,user_answer,answered_correctly,prior_question_elapsed_time,prior_question_had_explanation,dummy05,dummy04
0,0,90286654,0,1917429896,7900,0,0,0,1,NaN,NaN,0.5,0.4
1,1,90286655,26511,1917429896,7876,0,1,2,0,21000.0,False,0.5,0.4
2,2,90286656,55312,1917429896,175,0,2,0,0,21000.0,False,0.5,0.4
3,3,90286657,102436,1917429896,1278,0,3,0,0,23000.0,False,0.5,0.4
4,4,90286658,188454,1917429896,2063,0,4,3,0,45000.0,False,0.5,0.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...
987264,987264,47484293,1619704,1003849974,6909,0,14,0,1,17000.0,False,0.5,0.4
987265,987265,47484294,1906094,1003849974,7217,0,15,2,1,68500.0,False,0.5,0.4
987266,987266,47484295,1906094,1003849974,7216,0,15,3,1,68500.0,False,0.5,0.4
987267,987267,47484296,1906094,1003849974,7219,0,15,2,1,68500.0,False,0.5,0.4
987268,987268,47484297,1906094,1003849974,7218,0,15,2,1,68500.0,False,0.5,0.4

In [65]:
roc_auc_score(train_1M.query('content_type_id==0').answered_correctly.values,
              train_1M.query('content_type_id==0').dummy04.values)

0.5