In [1]:
import pandas as pd

In [2]:
train=pd.read_csv('../data/train.csv')

# Splitting on users

In [3]:
long=len(train)

In [12]:
cut=int(long/100)

In [ ]:
cuts=[0]
for i in range(99):
    cuts.append(train.iloc[i*cut:(i+1)*cut].query('timestamp==0').iloc[-1].row_id)
cuts.append(train.iloc[-1].row_id+1)

In [45]:
for i in range(100):
    print(f'cut {i}')
    subtrain=train.iloc[cuts[i]:cuts[i+1]]
    subtrain.to_csv(f'../data/cuts/train_user_cut_{i}')

cut 0
cut 1
cut 2
cut 3
cut 4
cut 5
cut 6
cut 7
cut 8
cut 9
cut 10
cut 11
cut 12
cut 13
cut 14
cut 15
cut 16
cut 17
cut 18
cut 19
cut 20
cut 21
cut 22
cut 23
cut 24
cut 25
cut 26
cut 27
cut 28
cut 29
cut 30
cut 31
cut 32
cut 33
cut 34
cut 35
cut 36
cut 37
cut 38
cut 39
cut 40
cut 41
cut 42
cut 43
cut 44
cut 45
cut 46
cut 47
cut 48
cut 49
cut 50
cut 51
cut 52
cut 53
cut 54
cut 55
cut 56
cut 57
cut 58
cut 59
cut 60
cut 61
cut 62
cut 63
cut 64
cut 65
cut 66
cut 67
cut 68
cut 69
cut 70
cut 71
cut 72
cut 73
cut 74
cut 75
cut 76
cut 77
cut 78
cut 79
cut 80
cut 81
cut 82
cut 83
cut 84
cut 85
cut 86
cut 87
cut 88
cut 89
cut 90
cut 91
cut 92
cut 93
cut 94
cut 95
cut 96
cut 97
cut 98
cut 99

In [41]:
train.iloc[cuts[-2]:cuts[-1]]

,row_id,timestamp,user_id,content_id,content_type_id,task_container_id,user_answer,answered_correctly,prior_question_elapsed_time,prior_question_had_explanation
100214113,100214113,0,2127040843,7900,0,0,0,1,NaN,NaN
100214114,100214114,33109,2127040843,7876,0,1,2,0,17000.0,False
100214115,100214115,61821,2127040843,175,0,2,3,0,29000.0,False
100214116,100214116,23283325,2127040843,1278,0,3,3,1,26000.0,False
100214117,100214117,23371928,2127040843,2065,0,4,2,1,18000.0,False
...,...,...,...,...,...,...,...,...,...,...
101230327,101230327,428564420,2147482888,3586,0,22,0,1,18000.0,True
101230328,101230328,428585000,2147482888,6341,0,23,3,1,14000.0,True
101230329,101230329,428613475,2147482888,4212,0,24,3,1,14000.0,True
101230330,101230330,428649406,2147482888,6343,0,25,1,0,22000.0,True
101230331,101230331,428692118,2147482888,7995,0,26,3,1,29000.0,True

In [11]:
train.iloc[cuts[0]-10:cuts[0]+10]

,row_id,timestamp,user_id,content_id,content_type_id,task_container_id,user_answer,answered_correctly,prior_question_elapsed_time,prior_question_had_explanation
1012293,1012293,14300522040,21217398,4105,0,316,0,1,15000.0,True
1012294,1012294,14300561300,21217398,4074,0,317,2,0,9000.0,True
1012295,1012295,14300584618,21217398,9941,0,318,2,0,31000.0,True
1012296,1012296,14300597086,21217398,4147,0,319,0,1,12000.0,True
1012297,1012297,14300619275,21217398,8459,0,320,3,1,5000.0,True
1012298,1012298,14300654452,21217398,4470,0,321,0,0,15000.0,True
1012299,1012299,14300672321,21217398,11319,0,322,0,0,29000.0,True
1012300,1012300,14300694767,21217398,3898,0,323,3,1,10000.0,True
1012301,1012301,14300708794,21217398,5843,0,324,1,1,15000.0,True
1012302,1012302,0,21222669,6291,0,0,0,0,NaN,NaN
1012303,1012303,32421,21222669,4082,0,1,2,0,46000.0,False
1012304,1012304,56295,21222669,367,0,2,1,0,29000.0,False
1012305,1012305,79252,21222669,218,0,3,3,1,21000.0,False
1012306,1012306,111754,21222669,5190,0,4,2,1,20000.0,False
1012307,1012307,133664,21222669,209,0,5,1,1,30000.0,False
1012308,1012308,157120,21222669,386,0,6,1,1,19000.0,False
1012309,1012309,180795,21222669,7878,0,7,2,1,21000.0,False
1012310,1012310,225321,21222669,5135,0,8,3,0,20000.0,False
1012311,1012311,267698,21222669,6089,0,9,2,0,42000.0,False
1012312,1012312,311454,21222669,5980,0,10,3,0,40000.0,False